body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #0A152B;
    padding: 0px;
    margin: 0px;
}


h2 {
    color: #123C64;
    font-weight: 700;
    font-size: 32px;
    margin-top: 0.5em;
}

h3 {
    color: #123C64;
    font-weight: 700;
    font-size: 25px;
    margin-block-start: 1em;
    margin-block-end: 2em;
}

h4 {
    color: #123C64;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0.2em;
}
h5 {
    color: rgba(10,21,43,0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0em;
    margin-bottom: 0.5em;
}

nav {
    color: #123C64;
    margin-left: auto;
}

nav a{
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #123C64;
}

nav a:hover {
    color: #57CAE9;
    text-decoration: none;
}

.active {
    font-weight: 700;
}

webName {
    font-size: 32px;
    color: #123C64;
    font-weight: 700;
}

.webName2 {
    font-size: 32px;
    font-weight: 700;
    color: #FEB55B;
}

.container {
    display: flex;
    padding-left:10px;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%; 
}

.break{
    flex-basis: 100%;
    width: 0;
  }

.container-item:nth-child(1) {
    flex: 1;
    margin-top: 3%;
    width: 700px;
    margin-bottom: 3%;
    display: inline-flex;
    align-items: center;
}


.register{
    background-color: #57CAE9;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 0;
    color: #fff;
    font-weight: 600;
}

.register:hover{
    background-color: #fff;
    border: 2px solid #57CAE9;
    color: #57CAE9;

}

.register_active {
    background-color: #fff;
    border: 2px solid #57CAE9;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 0;
    color: #57CAE9;
    font-weight: 600;
}

.trip_list{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
}

.create_trip{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.33em;
}

.imgbox {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.33em;
}

.create_trip svg {
    fill: #CCCCCC;
    width: 18%;
    height: 18%;
}

.create_trip:hover svg{
    fill: #BCBCBC;
}


.result{
    display: inline-block;
    margin-right: 40px;
    cursor:pointer;
}

a {
    color: #123C64;
    text-decoration: none;
}

a:hover {
    color: #123C64;
    text-decoration: #57CAE9 underline 2px;
}

.result > a {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0.2em;
}

.result > a:hover {
    color: #266098;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0.2em;
    text-decoration: none;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
  }
  
.popup-content {
    background-color: #fff;
    margin: 13% auto;
    padding: 20px;
    border-radius: 27px;
    box-shadow: 0 0px 20px rgba(18,60,100,0.2);
    width: 30%; 
    display: flex;
    justify-content: center;
  }
  
.popup_form{
    background-color: #fff;
    width: 100%;
    height: 60%;
    border-radius: 30px;
    text-align: center;
}

.form {
    position: relative;
    padding-bottom: 25px;
}
.form_input {
    width: 60%;
    height: 40px;
    border: 2px solid #123C64;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background:none;
}

.form_input:hover,:focus{
    border-color: #57CAE9;
    outline: none;
}

.form_label {
    position: absolute;
    left: 7rem;
    top: 0.8rem;
    font-size: 16px;
    color: #123C64;
    font-weight: 600;
    cursor: text;
    background-color: #fff;
    padding-left: 5px; 
    padding-right: 5px;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;

}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown).form_input:not(:focus) ~ .form_label {
    top: -0.6rem;
    font-size: 14px;
}

button{
    background-color: #57CAE9;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 8rem;
    height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

button:hover{
    background-color: #5DD9FB;
    border: 2px solid #5DD9FB;
    color: #fff;
}

.cancel {
    background-color: #fff;
    color: #57CAE9;
    border: 2px solid #57CAE9;
}

.cancel:hover {
    color: #5DD9FB;
    background-color: #fff;
    border: 2px solid #57CAE9;
}

.imgbox > button {
    background-color: #fff;
    width: 15%;
    height: 14%;
    cursor:pointer;
    margin-left: 80%;
    margin-bottom: 80%;
    padding: 0;
}

button > img {
    width: 50%;
    height: 50%;
}

.imgbox > button:hover{
    border: none;
    background-color: #FBFBFB;
}

.review {
    margin-bottom: 0.5em;
}

.price {
    margin-bottom: 2em;
}

.review > img {
    padding-right: 5px;
}

.free {
    color: #3BCB61;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0em;
}
